body {
  height: 100vh;
}
header {
  height: 10vh;
  background: $eerie-black;
}
// header and search bar
.header-wrapper {
  @include grid(0.3fr 1.5fr, 1fr);
  width: 95%;
  height: 100%;
  margin: auto;
}
.logo-wrapper {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
  text-align: center;
  @include mq(sphone) {
    width: 70%;
  }
  @include mq(sphone-landscape) {
    width: 50%;
  }
  @include mq(tablet) {
    width: 80%;
  }
  @include mq(phone-landscape) {
    width: 30%;
    justify-self: flex-start;
  }
  @include mq(tablet-landscape) {
    width: 50%;
    justify-self: flex-start;
  }
  @include mq(desktop) {
    width: 35%;
    justify-self: flex-start;
  }

  svg {
    width: 75%;
    height: 100%;
  }
}
.search-wrapper {
  @include flex(center, center, row);
  text-align: center;
  @include mq(phone-landscape) {
    @include flex(flex-end, center, row);
  }
  @include mq(tablet) {
    @include flex(flex-end, center, row);
  }
  @include mq(tablet-landscape) {
    @include flex(flex-end, center, row);
  }
  form {
    @include grid(1fr 0.6fr 0.2fr, 1fr);
    gap: 0.5rem;
  }
  input,
  select {
    border: none;
    outline: none;
    color: $cultured;
    background: $eerie-black;
    border-bottom: 1px solid $cultured;
    text-align: center;
  }
  button {
    color: $cultured;
    i {
      pointer-events: none;
    }
    svg {
      pointer-events: none;
    }
  }
  select {
    width: 70%;
  }
  input {
    width: 70%;
    justify-self: flex-end;
  }
}
// main section, canvas and content
main {
  background: $black-fogra;
  height: 85vh;
  position: relative;
}
section {
  @include grid(1fr, 0.3fr 1fr 0.5fr);
  gap: 2rem;
  height: 100%;
  width: 95%;
  margin: auto;
  @include mq(sphone) {
    gap: 1rem;
  }
  @include mq(sphone-landscape) {
    @include grid(1fr 0.6fr, auto);
  }
  @include mq(phone-landscape) {
    gap: 0rem;
  }
  @include mq(tablet-landscape) {
    @include grid(1fr 0.6fr, auto);
  }
  @include mq(desktop) {
    @include grid(1fr 0.6fr, auto);
    width: 95%;
    margin: auto;
  }
}
.info {
  @include grid(repeat(2, 1fr), 1fr);
  height: 100%;
  width: 100%;
  letter-spacing: 0.1rem;
  color: $cultured;
  background: $black-fogra;
  @include mq(sphone-landscape) {
    margin-top: 1rem;
  }
  @include mq(tablet-landscape) {
    margin-top: 2rem;
  }
}
.current-details,
.coin-trend {
  @include grid(1fr, repeat(2, 1fr));
  margin-top: 10%;
  @include mq(sphone) {
    margin-top: 0;
  }
  @include mq(sphone-landscape) {
    margin-top: 0;
  }
  @include mq(phone-landscape) {
    margin-top: 0;
  }
  @include mq(tablet-landscape) {
    margin-top: 0;
  }
  @include mq(desktop) {
    margin-top: 1rem;
    align-self: center;
  }
  .pair {
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    align-self: flex-end;
    @include mq(phone-landscape) {
      align-self: center;
    }
  }
  .current-price {
    align-self: center;
    letter-spacing: 0.1rem;
  }
}
.current-details {
  @include grid(0.5fr 1fr, 1fr);
  gap: 1rem;
  @include mq(sphone-landscape) {
    @include grid(1fr, 0.6fr 1fr);
    gap: 0;
    align-items: center;
  }
  @include mq(phone-landscape) {
    @include grid(0.1fr 1fr, 1fr);
  }
  @include mq(tablet-landscape) {
    @include grid(1fr, 0.6fr 1fr);
    gap: 0;
    align-items: center;
  }
  @include mq(desktop) {
    @include grid(0.35fr 1fr, 1fr);
    gap: 0.5rem;
  }
  .data-wrapper {
    @include grid(1fr, repeat(2, 1fr));
    gap: 0.5rem;
    @include mq(phone-landscape) {
      @include flex(flex-start, center, row);
      gap: 2rem;
    }
  }
}
.icon-wrapper {
  width: 100%;
  height: 100%;
  @include mq(sphone-landscape) {
    width: 50%;
  }
  @include mq(tablet) {
    height: 80%;
  }
  @include mq(tablet-landscape) {
    width: 50%;
  }
  @include mq(desktop) {
    width: 90%;
  }
}
.coin-trend {
  @include grid(1fr, 1fr);
  @include mq(sphone-landscape) {
    @include grid(1fr, 0.6fr 1fr);
  }
  @include mq(tablet-landscape) {
    @include grid(1fr, 0.6fr 1fr);
  }
}
.trend {
  @include grid(1fr 0.15fr, 1fr);
  grid-area: 1;
  align-self: center;
  @include mq(sphone-landscape) {
    grid-area: 2;
  }
  @include mq(tablet-landscape) {
    grid-area: 2;
  }
  .trend-stats {
    justify-self: flex-end;
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
  .trend-icon {
    @include flex(center, center, row);
    font-size: 1.5rem;
  }
}
.canvas-wrapper {
  height: 100%;
  width: 100%;
  min-height: 20vh;
  margin: auto;
  @include mq(phone-landscape) {
    min-height: 30vh;
  }
  @include mq(sphone-landscape) {
    height: 85%;
    grid-area: 1/1/3;
  }
  @include mq(desktop) {
    height: 85%;
    grid-area: 1/1/3;
  }
  @include mq(tablet-landscape) {
    height: 85%;
    grid-area: 1/1/3;
  }
  canvas {
    height: 100%;
    width: 100%;
    position: relative;
    background: $black-fogra;
  }
}
.market-info {
  @include grid(repeat(2, 1fr), 1fr);
  gap: 0.5rem;
  height: 100%;
  width: 95%;
  margin: auto;
  @include mq(phone-landscape) {
    gap: 2.5rem;
    width: 100%;
  }
  @include mq(desktop) {
    width: 100%;
    height: 90%;
  }
}
.market-extra-stats {
  justify-self: flex-end;
}
.market-stats,
.market-extra-stats {
  @include grid(1fr, auto);
  @include mq(phone-landscape) {
    @include flex(space-between, center, row);
    gap: 2rem;
    width: 100%;
    .data-cont {
      @include grid(1fr, repeat(2, 1fr));
      justify-items: center;
      align-items: center;
      height: 95%;
      width: 100%;
    }
  }
  h4 {
    color: $onyx;
    @include mq(phone-landscape) {
      text-align: center;
    }
  }
  p {
    color: $cultured;
    letter-spacing: 0.05rem;
    @include mq(phone-landscape) {
      text-align: center;
    }
  }
}

.error-wrapper {
  @include grid(1fr, 0.1fr 0.2fr 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $black-fogra;
  height: 30%;
  width: 50%;
  color: $cultured;
  justify-items: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 6px 9px 9px -4px #000000;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  .error-msg-wrapper {
    text-align: center;
  }
  .error-close-wrapper {
    justify-self: flex-end;
    margin-right: 2.5%;
    button {
      color: $cultured;
      font-size: 1.5rem;
    }
  }
}
.error-wrapper-active {
  opacity: 1;
  visibility: visible;
}

// footer
footer {
  height: 5vh;
  @include flex(center, center, row);
  background: $eerie-black;
  color: $cultured;
}
.txt,
.dev {
  font-size: 1.3rem;
}
.dev {
  margin-left: 0.2rem;
  letter-spacing: 0.1rem;
}
.img-wrapper {
  margin-left: 0.5rem;
  a {
    font-size: 1.3rem;
    color: $green-logo;
  }
  svg {
    transition: all 300ms ease-in-out;
  }
  svg:hover {
    transform: rotate(360deg) scale(1.1);
  }
}
